<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>consultas </title>
</head>
<body>
    {% extends "app/padre.html" %}  {% load static %}

    {% block title %}Página de Inicio{% endblock %}
    
    {% block contenidoQueCambia %}
    
        <h1>aca ira un formulario  de nombre apellido asunto y detalle de consultas</h1> 
        <p>Se ha heredado todo desde la plantilla padre</p>
    {% endblock %}
        
    

    
</body>
</html>
