<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes </title>
</head>
<body>
    
    
    {% extends "app/padre.html" %}  {% load static %}

    {% block title %}Página de Inicio{% endblock %}
    
    {% block contenidoQueCambia %}
    
    <h2>Formulario de Registro</h2>
    {% csrf_token %}
    <form action="#" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required><br><br>

        <input class="btn"type="submit" value="Enviar">
    </form>
    <br>
    <br>
        
    {% endblock %}

        
    
</body>
</html>
